#test {
    font: 12pt Arial;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
	background: #FFF;
}

#map {
	width: 1204x;
	height: 500px;
    background-color: rgba(255, 0, 0, 0.0);
}

.legend {
    line-height: 18px;
    color: black;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.title {
    font: 10pt Arial;
    font-color: black;
    line-height: 24pt;
    font-weight: bold;
}

#compass {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
	opacity: 0;
	transition: opacity 1.0s linear 0;
}

.leaflet-control-scale {
    left: 50%;
    transform: translate(-50%, 0%);
}

.anim-tooltip{
  transition: opacity 0.2s linear;
}

.anim-tooltip-custom{
  transition: all 0.2s linear;
}

path.leaflet-interactive:focus {
    outline: none;
}